@model Model.Models.Employee
@using HRM_MVC.Common;
@{
    ViewData["Title"] = "Edit";
    List<string> roles = new List<string>
            {
        Roles.ROLE_EMPLOYEE,
        Roles.ROLE_HR_MANAGER,
        Roles.ROLE_HR
            };
}

<h1 style="color: #B70000; text-align: center;">Edit Employee</h1>
<hr />
<div class="row" style="background-color: #f5f5f5; border: 1px solid #ccc; border-radius: 5px; padding: 20px;">
    <form asp-action="Edit" asp-controller="Employees">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="EmployeeId" class="control-label">Employee ID</label>
                    <input asp-for="EmployeeId" class="form-control" />
                    <span asp-validation-for="EmployeeId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EmplyeeName" class="control-label">Employee Name</label>
                    <input asp-for="EmplyeeName" class="form-control" />
                    <span asp-validation-for="EmplyeeName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateOfBirth" class="control-label">Date of birth</label>
                    <input asp-for="DateOfBirth" class="form-control" />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Gender" class="control-label">Gender</label>
                    <input asp-for="Gender" class="form-control" />
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label">Email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label">Password</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Phone" class="control-label">Phone Number</label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label">Address</label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Role" class="control-label">Role</label>
                    <select asp-for="Role" class="form-control">
                        @for (int i = 0; i < 3; i++)
                        {
                            if (roles[i].Equals(Model.Role.Trim()))
                            {
                                <option value="@roles[i]" selected>
                                    @roles[i]
                                </option>
                            }
                            else
                            {
                                <option value="@roles[i]">@roles[i]</option>
                            }
                        }
                    </select>
                    @*<select asp-for="Role" class="form-control" asp-items="ViewBag.Roles"></select>*@
                </div>
                <div class="form-group">
                    <label asp-for="DepartmentId" class="control-label">Department ID</label>
                    <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Salary" class="control-label">Salary</label>
                    <input asp-for="Salary" class="form-control" />
                    <span asp-validation-for="Salary" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TaxCode" class="control-label">Tax Code</label>
                    <input asp-for="TaxCode" class="form-control" />
                    <span asp-validation-for="TaxCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Level" class="control-label">Level</label>
                    <input asp-for="Level" class="form-control" />
                    <span asp-validation-for="Level" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ManagerId" class="control-label">Manager ID</label>
                    <select asp-for="ManagerId" class="form-control" asp-items="ViewBag.ManagerId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="DayOne" class="control-label">Day One</label>
                    <input asp-for="DayOne" class="form-control" />
                    <span asp-validation-for="DayOne" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastDay" class="control-label">Last Day</label>
                    <input asp-for="LastDay" class="form-control" />
                    <span asp-validation-for="LastDay" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12 mt-3 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Edit</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
