@model Model.Models
@{
    ViewData["Title"] = "ViewAllHRRequest";
}
@foreach (ChangeWorkDepartmentRequest requests in ViewBag.ChangeWorkDepartmentRequest)
{
    
}
<table>
    <tr>
       
    </tr>
</table>