@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 70vh;">
    <form asp-action="Details" asp-controller="Employees" method="get" style="margin-bottom: 10px;">
        <button type="submit" class="btn btn-secondary" style="width: 500px; background-color: #4DB5BF ; color: #FFFFFF">My profile</button>
    </form>

    <form asp-action="ViewAttendence" asp-controller="Attendence" method="get" style="margin-bottom: 10px;">
        <button type="submit" class="btn btn-secondary" style="width: 500px; background-color: #4DB5BF ; color: #FFFFFF">View Attendence</button>
    </form>

    <form asp-action="Index" asp-controller="EmpLeaveRequests" method="get" style="margin-bottom: 10px;">
        <button type="submit" class="btn btn-secondary" style="width: 500px; background-color: #4DB5BF ; color: #FFFFFF">Leave requests</button>
    </form>

    <form asp-action="Create" asp-controller="EmpResignationRequests" method="get" style="margin-bottom: 10px;">
        <button type="submit" class="btn btn-secondary" style="width: 500px; background-color: #4DB5BF ; color: #FFFFFF">Employee create resignation requests</button>
    </form>

    <form asp-action="Create" asp-controller="EmpUpdateAttendanceRequests" method="get" style="margin-bottom: 10px;">
        <button type="submit" class="btn btn-secondary" style="width: 500px; background-color: #4DB5BF ; color: #FFFFFF">Employee create attendance requests</button>
    </form>

    <form asp-action="Index" asp-controller="Logout" method="get" style="margin-bottom: 10px;">
        <button type="submit" class="btn btn-secondary" style="width: 500px; background-color: #4DB5BF ; color: #FFFFFF">Logout</button>
    </form>
</div>
