@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="text-align: center;">
    
    <form asp-action="Details" asp-controller="Employees"  style="display: inline-block;">
        <button type="submit" class="btn btn-secondary btn-Attendence">My profile</button>
    </form>

    <form asp-action="ViewAttendence" asp-controller="Attendence" method="get" style="display: inline-block;">
        <button type="submit" class="btn btn-secondary">View Attendence</button>
    </form>

    <form asp-action="Create" asp-controller="EmpLeaveRequests" method="get" style="display: inline-block;">
        <button type="submit" class="btn btn-secondary">Employee create leave request</button>
    </form>

    <form asp-action="Create" asp-controller="EmpResignationRequests" method="get" style="display: inline-block;">
        <button type="submit" class="btn btn-secondary">Employee create resignation requests</button>
    </form>

    <form asp-action="Create" asp-controller="EmpUpdateAttendanceRequests" method="get" style="display: inline-block;">
        <button type="submit" class="btn btn-secondary">Employee create attendance requests</button>
    </form>

    <form asp-action="Index" asp-controller="Logout" method="get" style="display: inline-block;">
        <button type="submit" class="btn btn-secondary">Employee create attendance requests</button>
    </form>
   
</div>
