@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 70vh;">
    <form  asp-action="HRRequests" asp-controller="HRManager" method="get" style="margin-bottom: 10px;">
        <button type="submit" class="btn btn-secondary" style="width: 500px; background-color: #4DB5BF; color: #FFFFFF">HR Request</button>
    </form>

    <form asp-action="Index" asp-controller="Logout" method="get" style="margin-bottom: 10px;">
        <button type="submit" class="btn btn-secondary" style="width: 500px; background-color: #4DB5BF; color: #FFFFFF">Logout</button>
    </form>
</div>