@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 70vh;">
    <div style="width: 500px; padding: 20px; background-color: #f5f5f5; border: 1px solid #ccc; border-radius: 5px; text-align: center;">
        <h2 style="margin-bottom: 30px;">Login</h2>
        <form asp-action="LoginAction" asp-controller="Login" method="post" style="margin-bottom: 10px;">
            <div style="display: flex; align-items: center; margin-bottom: 10px;">
                <label for="email" style="margin-right: 10px; flex-basis: 80px;">Email:</label>
                <input type="text" name="email" id="email" value="@(ViewData["Email"]!=null? ViewData["Email"]:"")" style="flex: 1; padding: 5px; border-radius: 5px; border: 1px solid #ccc;" />
            </div>
            <div style="display: flex; align-items: center; margin-bottom: 10px;">
                <label for="password" style="margin-right: 10px; flex-basis: 80px;">Password:</label>
                <input type="password" name="password" id="password" style="flex: 1; padding: 5px; border-radius: 5px; border: 1px solid #ccc;" />
            </div>
            @if (ViewData["LoginError"] != null)
            {
                <label style="color: red;">@ViewData["LoginError"]</label>
                <br />
            }
            <div>
                <input type="submit" value="Login" style="padding: 6px 20px; background-color: #4CAF50; color: white; border: none; border-radius: 10px; cursor: pointer;" />
            </div>
        </form>
    </div>
</div>
