@model Model.Models.UpdateAttendanceRequest

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>UpdateAttendanceRequest</h4>

@if (ViewData.ContainsKey("SuccessMessage"))
{
    <div class="alert alert-success">@ViewData["SuccessMessage"]</div>
}
@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @ViewData["ErrorMessage"]
    </div>
}
<hr />
<div style="display: flex; justify-content: center;">
    <div style="border: 1px solid #ccc; padding: 20px; width: 550px;">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @*<div class="form-group">
                        <label asp-for="RequestId" class="control-label"></label>
                        <input asp-for="RequestId" class="form-control" />
                        <span asp-validation-for="RequestId" class="text-danger"></span>
                    </div>*@
                    @*<div class="form-group">
                        <label asp-for="EmployeeId" class="control-label"></label>
                        <select asp-for="EmployeeId" class ="form-control" asp-items="ViewBag.EmployeeId"></select>
                    </div>*@
                    <div class="form-group">
                        <label asp-for="Date" class="control-label"></label>
                        <input asp-for="Date" type="date" class="form-control" />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TimeIn" class="control-label"></label>
                        <input asp-for="TimeIn" type="time" class="form-control" />
                        <span asp-validation-for="TimeIn" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Reason" class="control-label"></label>
                        <input asp-for="Reason" class="form-control" />
                        <span asp-validation-for="Reason" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Hrid" class="control-label"></label>
                        <select asp-for="Hrid" class ="form-control" asp-items="ViewBag.Hrid"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Status" class="control-label"></label>
                        <input asp-for="Status" class="form-control" />
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Comment" class="control-label"></label>
                        <input asp-for="Comment" class="form-control" />
                        <span asp-validation-for="Comment" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="display: flex; justify-content: center; margin-top: 10px;">
                        <input type="submit" value="Create" class="btn btn-primary" style="width: 100px;" />
                    </div>
                </form>
                <div class="text-right" style="display: flex; justify-content: flex-end; margin-top: 10px;">
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
